.well {
    //position:fixed;
    width:100%;
    background-color: #AAD5F9;
    height: 45px;
    padding: 19px 8px 19px 8px;
}

div.plugin-block {
    width: 100%;
    position: relative;
    float: left;
    bottom: 14px;
}