<div class="col-sm-7">
    <h2>Item-Box：</h2>
    <!-- <h3>說明</h3>
    <pre>

    透過Component動態載入，來抽換左右兩側不同的Component
    </pre> -->
    <h3>介面</h3>
    <pre class="prettyprint">

    @Input() keyName: string;
    @Input() value: string;
    @Input() height: string;
    @Input() itemBoxPairs:ItemBoxPairs[];
    @Output() pairFocus: EventEmitter&lt;ItemBoxPair&gt;;
    </pre>
    <h3>ItemBoxPair結構</h3>
    <pre class="prettyprint lang-javascript">

    export class Pair &#123;
        public key: string;
        public value: string;
    }
    </pre>
    <h3>使用方法</h3>
    <pre class="prettyprint lang-html">

    &lt;ccc-item-box 
        [keyName]="keyName" 
        [valueName]="valueName" 
        [height]="height" 
        [itemBoxPairs]="itemBoxPairs" 
        (pairFocus)="onPairFocus($event)"&gt;
    &lt;/ccc-item-box&gt;
    </pre>
    <pre class="prettyprint lang-javascript">

    public height: string = '200px';
    public keyName = '鍵值';
    public valueName = '內容';
    public data: ItemBoxPair;
    private itemBoxPairs: ItemBoxPair[] = [
        &#123; key: "", value: "" },
        &#123; key: "01", value: "I" },
        &#123; key: "02", value: "II" },
        &#123; key: "03", value: "III" },
        &#123; key: "04", value: "IV" },
        &#123; key: "05", value: "V" },
        &#123; key: "06", value: "VI" },
        &#123; key: "07", value: "VII" },
        &#123; key: "08", value: "VIII" },
        &#123; key: "09", value: "IX" },
        &#123; key: "10", value: "X" }
    ];
    </pre>
</div>
<div class="col-sm-5">
    <h3>Demo</h3>
    <ccc-item-box [keyName]="keyName" [valueName]="valueName" [height]="height" [itemBoxPairs]="itemBoxPairs" (pairFocus)="onPairFocus($event)">
    </ccc-item-box>
</div>

<div>
    choose item:
    <pre>{{data|json}}</pre>
</div>