<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a [routerLink]="'/panel-bar'">PanelBar</a></li>
            <li><a [routerLink]="'/bookmark-panel'">BookmarkPanel</a></li>
            <li><a [routerLink]="'/dock'">Dock</a></li>
            <li><a [routerLink]="'/item-box'">ItemBox</a></li>
            <li><a [routerLink]="'/auto-complete'">AutoComplete</a></li>
            <li><a [routerLink]="'/format-textarea'">FormatTextArea</a></li>
            <li><a [routerLink]="'/dropdown-list'">DropDownList</a></li>
            <li><a [routerLink]="'/toolbar'">ToolBar</a></li>
            <li><a [routerLink]="'/search-toolbar'">SearchToolBar</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<ccc-dock [icon]="appIcon" (iconClick)="onClick($event)"></ccc-dock>