<cmuh-dropdown-list [height]="height" [textField]="textField" [valueField]="valueField" [dataSource]="items" [(ngModel)]="selectedItemValue"></cmuh-dropdown-list>

<!--@Input() dataSource: any;       //資料來源
  @Input() textField: string;     //顯示屬性
  @Input() valueField: string;    //資料屬性
  @Input() height: string;        //menu高度
  @Input() width: string;         //整體寬度
  @Input() buttonHeight: string;  //按鈕高度
  @Input() backgroundColor: string;  //按鈕背景顏色
  @Input() color: string;            //按鈕字體顏色
  @Input() selectedItem: any;     //被選取的物件-->
<pre>{{selectedItem|json}}</pre>
<pre>{{selectedItemValue|json}}</pre>